@using System.Numerics

@inject IMetaMaskService metamask


@if (HasMetamask)
{
    if (IsSiteConnected)
    {
        <span>
            @EthAddressShort
        </span>
        <span>
            @EthBalance
        </span>

        @* Logout is only clearing the local cache , the user can just lock his metamask
        <button class="nav-link btn btn-link" @onclick="LogoutMetamask">🔐 Log out</button>*@
        
    }
    else
    {
    
        <button class="login-btn" @onclick=LoginWithMetamask >🔓 Log in with Moralis</button>
    }
}
else
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}



@code {
    private string Message;
    private bool HasMetamask;
    private bool IsSiteConnected;
    private string EthAddress;
    private string EthAddressShort;
    private BigInteger EthBalance;
    protected override async Task OnInitializedAsync()
    {

        HasMetamask = await metamask.HasMetaMask();
        IsSiteConnected = await metamask.IsSiteConnected();
        if (HasMetamask)
        {
            if (IsSiteConnected)
            {
                EthAddress = await metamask.GetSelectedAddress();
                EthAddressShort = EthAddress.Substring(0, 6) + "..." + EthAddress.Substring(EthAddress.Length - 4, 4);
                EthBalance = await metamask.GetBalance(EthAddress);
            }
        }
    }

    private async Task LoginWithMetamask()
    {
        await metamask.ConnectMetaMask();
        StateHasChanged();
    }
    private async Task LogoutMetamask()
    {
        await metamask.Logout();
        StateHasChanged();
    }
}
