@using System.Numerics
@using Microsoft.Extensions.Logging
@using Microsoft.JSInterop

@if (HasMetaMask)
{
    if (!string.IsNullOrEmpty(EthAddress))
    {
        <span>
            @EthAddressShort - 
            Balance: @EthBalance
        </span>

        @* Logout is only clearing the local cache , the user can just lock his metamask
        <button class="nav-link btn btn-link" @onclick="LogoutMetamask">🔐 Log out</button>*@
        
    }
    else
    {
    
        <button class="login-btn" @onclick=LoginWithMetamask >🔓 Log in with Moralis</button>
    }
}
else
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}



@code {


    
}
