<section class="section section-wallet-bottom bg-white pdt-0" id="wallet">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-text-grp mgb-m30">
            <h6 class="title title-xs tc-primary pdb-s animated" data-animate="fadeInUp" data-delay=".4">Why Use Tokenpay Wallets?</h6>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".5">
                        <h4 class="title title-md">Safe &amp; Secure</h4>
                        <p>Tempore, cum soluta nobis est eligendi optio cumque nihil id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor impedit quo minus repellendus. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".6">
                        <h4 class="title title-md">Universal and Interactive</h4>
                        <p>Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature feature-s5 animated" data-animate="fadeInUp" data-delay=".7">
                        <h4 class="title title-md">Send and Receive</h4>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor. </p>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>