<section class="section section-roadmap bg-white" id="roadmap">
    <div class="container">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto">
            <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".1">The roadmap to success</h6>
            <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".2">What are our major goals?</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".3">Our market strategy will prioritise blockchain technology rollout to utilities based on their transformation. View our roadmap to see how exactly we are making that happen. </p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-roadmap">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="roadmap-wrap">
                        <div class="roadmap-line"></div>
                        <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="roadmap-year">2022</div>
                        </div>
                        <div class="roadmap roadmap-right roadmap-finished animated" data-animate="fadeInUp" data-delay=".5">
                            <div class="roadmap-step">
                                <div class="roadmap-head">
                                    <span class="roadmap-time">March 2022</span>
                                    <span class="roadmap-title">Concept development</span>
                                </div>
                                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                            </div>
                        </div>
                        <div class="roadmap roadmap-left roadmap-finished animated" data-animate="fadeInUp" data-delay=".6">
                            <div class="roadmap-step">
                                <div class="roadmap-head">
                                    <span class="roadmap-time">Q3 &amp; Q4 2022</span>
                                    <span class="roadmap-title">Website and Whitepaper</span>
                                </div>
                                <ul class="list list-dot">
                                    <li>MVP of wallet prototype released</li>
                                    <li>Pre-Sale ICO Starts</li>
                                    <li>Redesign of website goes live</li>
                                    <li>Version 2 of Whitepaper released</li>
                                    <li>Version 3 of Onepager released</li>
                                </ul>
                            </div>
                        </div>
                        <div class="roadmap animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="roadmap-year">2022</div>
                        </div>
                        <div class="roadmap roadmap-right animated" data-animate="fadeInUp" data-delay=".5">
                            <div class="roadmap-step">
                                <div class="roadmap-head">
                                    <span class="roadmap-time">Q1 2022</span>
                                    <span class="roadmap-title">Public Token Sale Begins</span>
                                </div>
                                <p>Public ICO launch and crowd-sale starts - 5th Januray &amp; Token distribution will commence - 2nd March.</p>
                            </div>
                        </div>
                        <div class="roadmap roadmap-left animated" data-animate="fadeInUp" data-delay=".6">
                            <div class="roadmap-step">
                                <div class="roadmap-head">
                                    <span class="roadmap-time">Q2 2022</span>
                                    <span class="roadmap-title">Beta App User Testing</span>
                                </div>
                                <p>Release our first apps for beta testing to our members comunity</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".4">
                <a href="#" class="btn btn-grad">View Full Roadmap</a>
            </div>
        </div>
        <!-- Block @e -->
    </div>
</section>