<section class="section section-team bg-light" id="team">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-team-featured team-featured">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <div class="team-featured-photo tc-light animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="images/team/large-a.jpg" alt="team">
                        <h5 class="team-featured-info">David Metthew<span>Chairman of ICOX and Entrepreneur</span></h5>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="team-featured-cont">
                        <h6 class="title title-xs title-light animated" data-animate="fadeInUp" data-delay=".2">behind the idea</h6>
                        <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".3">The Founder</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".4">ICOx Crypto is founded by David Metthew who is young entrepreneur &amp; full stack-developer. He is totam rem aperiam, et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Quam nihil molestiae illum.</p>
                    </div>
                </div>
            </div><!-- .row -->
        </div>
        <!-- Block @e -->
    </div>
</section>
<!-- // -->
<section class="section section-team bg-light pt-0" id="team-members">
    <div class="container">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto">
            <h2 class="title title-lg title-dark animated" data-animate="fadeInUp" data-delay=".1">Core Team</h2>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-team-list">
            <div class="row justify-content-center">
                <div class="col-md-3 col-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".2">
                        <div class="team-photo">
                            <img src="images/team/a.jpg" alt="team">
                            <a href="#team-popup-1" class="team-show content-popup"></a>
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Louis Baker</h5>
                        <span class="team-position">CEO &amp; Lead Blockchain</span>
                    </div>
                    <!-- Start .team-profile  -->
                    <div id="team-popup-1" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="images/team/a.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Louis Baker</h3>
                                    <p class="team-position">CEO &amp; Lead Blockchain </p>
                                    <ul class="team-social mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                    <div class="progress-list">
                                        <div class="progress-wrap">
                                            <div class="progress-title">Blockchain <span class="progress-amount">85%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="85"></div>
                                            </div>
                                        </div>
                                        <div class="progress-wrap">
                                            <div class="progress-title">Decentralization <span class="progress-amount">68%</span></div>
                                            <div class="progress-bar progress-bar-xs bg-black-10">
                                                <div class="progress-percent bg-primary" data-percent="68"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
                <div class="col-md-3 col-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".2">
                        <div class="team-photo">
                            <img src="images/team/b.jpg" alt="team">
                            <a href="#team-popup-2" class="team-show content-popup"></a>
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Jonathan Rios</h5>
                        <span class="team-position">CTO &amp; Software Engineer</span>
                    </div>
                    <!-- Start .team-popup  -->
                    <div id="team-popup-2" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="images/team/b.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Jonathan Rios</h3>
                                    <p class="team-position">CTO &amp; Software Engineer</p>
                                    <ul class="team-social mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-popup  -->
                </div><!-- .col -->
                <div class="col-md-3 col-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="team-photo">
                            <img src="images/team/c.jpg" alt="team">
                            <a href="#team-popup-3" class="team-show content-popup"></a>
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Jason Morales</h5>
                        <span class="team-position">Sr.Backend developer</span>
                    </div>
                    <!-- Start .team-profile  -->
                    <div id="team-popup-3" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="images/team/c.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Jason Morales</h3>
                                    <p class="team-position">Sr.Backend developer</p>
                                    <ul class="team-social mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
                <div class="col-md-3 col-6">
                    <div class="team animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="team-photo">
                            <img src="images/team/d.jpg" alt="team">
                            <a href="#team-popup-4" class="team-show content-popup"></a>
                            <ul class="team-social">
                                <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            </ul>
                        </div>
                        <h5 class="team-name title title-sm">Joseph Jordan</h5>
                        <span class="team-position">Software Engineer</span>
                    </div>
                    <!-- Start .team-profile  -->
                    <div id="team-popup-4" class="team-popup mfp-hide">
                        <a title="Close" class="mfp-close">×</a>
                        <div class="row align-items-start">
                            <div class="col-md-6">
                                <div class="team-photo">
                                    <img src="images/team/d.jpg" alt="team">
                                </div>
                            </div><!-- .col  -->
                            <div class="col-md-6">
                                <div class="team-popup-info ps-md-3">
                                    <h3 class="team-name title title-lg pt-4">Joseph Jordan</h3>
                                    <p class="team-position">Software Engineer</p>
                                    <ul class="team-social mb-4">
                                        <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                    <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                                    <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                                </div>
                            </div><!-- .col  -->
                        </div><!-- .row  -->
                    </div><!-- .team-profile  -->
                </div><!-- .col -->
            </div><!-- .row -->
            <div class="text-center animated" data-animate="fadeInUp" data-delay=".5">
                <a href="#" class="btn btn-grad">See All Team Member</a>
            </div>
        </div>
        <!-- Block @r -->
    </div>
</section>