
@inherits LayoutComponentBase

<div id="page">
    
    <NavMenu/>

    <MenuMain></MenuMain>

    <FooterBar></FooterBar>

    <MenuColor></MenuColor>

    <MenuBell></MenuBell>


    @*<LoginDisplay />*@

    @Body
</div>
