@page "/nft-market"

@inject IJSRuntime JSRuntime
@inject AppState AppState

<PageTitle> NFT Market </PageTitle>

<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
  <MainMenu />
  <!-- Banner @s -->
  <div class="header-banner bg-theme-grad">
      <div class="nk-banner">
          <div class="banner banner-page">
              <div class="banner-wrap">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-xl-6 col-lg-9">
                              <div class="banner-caption cpn tc-light text-center">
                                  <div class="cpn-head">
                                      <h2 class="title ttu animated" data-animate="fadeInUp" data-delay="1.1">Coin Garden NFT Marketplace</h2>
                                      <p class="lead animated" data-animate="fadeInUp" data-delay="1.3">Welcome to Coin Garden NFT Marketplace.The NFT Marketplace provides you with the opportunity to create (or as we call it, mint), sell, purchase, bid on, collect, trade, showcase and otherwise transact digital blockchain collectibles, which may be represented as a non-fungible token (“NFT”) linked with certain digital media and art (“NFT Media”).</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- .nk-banner -->
      <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
      <!-- Place Particle Js -->
      <div id="particles-bg" class="particles-container particles-bg"></div>
  </div>
  <!-- .header-banner @e -->
</header>

<div class="my-auto">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7 col-sm-9">
            <div class="position-relative">
                <div class="piller-one">
                    <img src="images/piler-a.png" alt="graphic">
                </div>
                <div class="piller-two">
                    <img src="images/piler-b.png" alt="graphic">
                </div>
                <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay="1.4">We are coming soon</h2>
                <p class="animated" data-animate="fadeInUp" data-delay="1.6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="countdown-s3 countdown-wd countdown-s3-lg countdown-xl countdown-thin countdown mb-5" data-date="2022/06/11" data-min-text="Minutes" data-sec-text="Seconds"></div>

            </div>
        </div>
    </div>
</div>

<ThemePageLoader />
<ThemeScriptLoader />