@page "/nft-market"

@inject IJSRuntime JSRuntime
@inject AppState AppState
@layout MainLayout

<PageTitle> NFT Market </PageTitle>

<PagesBannerContainer Title="Coin Garden NFT Marketplace" Description="Welcome to Coin Garden NFT Marketplace.The NFT Marketplace provides you with the opportunity to create (or as we call it, mint), sell, purchase, bid on, collect, trade, showcase and otherwise transact digital blockchain collectibles, which may be represented as a non-fungible token (“NFT”) linked with certain digital media and art (“NFT Media”)." />

<div class="my-auto">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7 col-sm-9">
            <div class="position-relative">
                <div class="piller-one">
                    <img src="images/piler-a.png" alt="graphic">
                </div>
                <div class="piller-two">
                    <img src="images/piler-b.png" alt="graphic">
                </div>
                <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay="1.4">We are coming soon</h2>
                <p class="animated" data-animate="fadeInUp" data-delay="1.6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="countdown-s3 countdown-wd countdown-s3-lg countdown-xl countdown-thin countdown mb-5" data-date="2022/06/11" data-min-text="Minutes" data-sec-text="Seconds"></div>

            </div>
        </div>
    </div>
</div>

<ThemePageLoader />
