@inherits LayoutComponentBase
@inject AppState AppState
@inject IJSRuntime JS

<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
    <MainMenu @ref=mainMenu />
    @BannerContent
</header>

<main class="nk-pages">
    @Body
</main>

<div class="preloader preloader-alt no-split">
   <span class="spinner spinner-alt">
      <img class="spinner-brand" src="images/logo-full-white.png" alt="">
   </span>
</div>

<Footer />
<Modal/>

<ThemeScriptLoader />
@code {
    MainMenu? mainMenu;

    [Parameter]
    public RenderFragment? BannerContent { get; set; }

    bool afterRender;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        afterRender = true;

    }
}