<section class="section section-product bg-white" id="products">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s4 mgb-m30">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-head">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Our Products</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">We created our product libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="feature feature-s4 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-img">
                            <img src="images/products/a.jpg" alt="product">
                        </div>
                        <h5 class="title title-sm title-dark">Product Title One</h5>
                    </a>
                </div><!-- .col -->
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="feature feature-s4 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature-img">
                            <img src="images/products/b.jpg" alt="product">
                        </div>
                        <h5 class="title title-sm title-dark">Product Title Two</h5>
                    </a>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>