<section class="section section-faq bg-white" id="faq">
    <div class="container">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto">
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".2">Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others. If you have any other questions, please get in touch via email.</p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block block-faq">
            <div class="row">
                <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                    <ul class="nav tab-nav tab-nav-vr tab-nav-bdr me-lg-3 animated" data-animate="fadeInUp" data-delay=".3">
                        <li><a class="active" data-bs-toggle="tab" href="#general-questions"><em class="fas fa-caret-right"></em>General Questions</a></li>
                        <li><a data-bs-toggle="tab" href="#ico-questions"><em class="fas fa-caret-right"></em>ICO Questions</a></li>
                        <li><a data-bs-toggle="tab" href="#tokens-sales"><em class="fas fa-caret-right"></em>Tokens Sales</a></li>
                        <li><a data-bs-toggle="tab" href="#clients-releted"><em class="fas fa-caret-right"></em>Clients Releted</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="general-questions">
                            <div class="accordion accordion-s1 accordion-faq" id="faq-1">
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-1-1">What is Coin Garden? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-1" class="collapse show" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-2">What cryptocurrencies can I use to purchase? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-2" class="collapse" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-3">How can I participate in the ICO Token sale? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-3" class="collapse" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-1-4">How do I benefit from the ICO Token? <span class="accordion-icon"></span></h5>
                                    <div id="faq-1-4" class="collapse" data-bs-parent="#faq-1">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ico-questions">
                            <div class="accordion accordion-s1 accordion-faq" id="faq-2">
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-2-1">Which of us ever undertakes laborious?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-1" class="collapse show" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <div class="accordion-content">
                                                <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-2">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-2" class="collapse" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-3">Their separate existence is a myth?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-3" class="collapse" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-4">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                    <div id="faq-2-4" class="collapse" data-bs-parent="#faq-2">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tokens-sales">
                            <div class="accordion accordion-s1 accordion-faq" id="faq-3">
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-3-1">When she reached the first hills?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-1" class="collapse show" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-2">Big Oxmox advised her not to do?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-2" class="collapse" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-3">Which roasted parts of sentences fly into your mouth?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-3" class="collapse" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3-4">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                    <div id="faq-3-4" class="collapse" data-bs-parent="#faq-3">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="clients-releted">
                            <div class="accordion accordion-s1 accordion-faq" id="faq-4">
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".1">
                                    <h5 class="accordion-title accordion-title-sm" data-bs-toggle="collapse" data-bs-target="#faq-4-1">How do I benefit from the ICO Token?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-1" class="collapse show" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".2">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-2">Pityful a rethoric question ran over her cheek?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-2" class="collapse" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".3">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-3">Vokalia and Consonantia, there live?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-3" class="collapse" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item animated" data-animate="fadeInUp" data-delay=".4">
                                    <h5 class="accordion-title accordion-title-sm collapsed" data-bs-toggle="collapse" data-bs-target="#faq-4-4">Who do not know how to pursue rationally?<span class="accordion-icon"></span></h5>
                                    <div id="faq-4-4" class="collapse" data-bs-parent="#faq-4">
                                        <div class="accordion-content">
                                            <p>Once ICO period is launched, You can purchased Token with Etherum, Bitcoin or Litecoin. You can also tempor incididunt ut labore et dolore magna aliqua sed do eiusmod eaque ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>