<section class="section section-features bg-white" id="features">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-features-s2">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-5">
                    <div class="gfx py-4 animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="images/gfx/gfx-a.png" alt="gfx">
                    </div>
                </div><!-- .col -->
                <div class="col-lg-7">
                    <!-- Section Head @s -->
                    <div class="section-head">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Why Choose Coin Garden?</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">We believe in a new world, which helps you lunch and introduce your ICO Website. We designed it very carefully to make it more attractive, useful and fit any kind of ICO/Crypto website. </p>
                    </div><!-- .section-head @e -->
                    <div class="features-list me-4 mgb-m30">
                        <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-shiled-alt"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">Secured User Data</h5>
                                <p>We protect user data and emo enim ipsam voluptatem quia voluptas sitaut odit aut fugit, sed quia conseq ur magni dolores aspernatur.</p>
                            </div>
                        </div>
                        <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".5">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-user"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">Most Credibility</h5>
                                <p>Most authentically sed do eiusmod tempor incididunt ut labore et dolore magna aliqua cillum dolore eu fugiat ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="feature feature-s2 animated" data-animate="fadeInUp" data-delay=".6">
                            <div class="feature-icon dot">
                                <em class="icon ikon ikon-data-server"></em>
                            </div>
                            <div class="feature-text">
                                <h5 class="title title-sm">Big Data Insights</h5>
                                <p>You can trade &amp; invest toekn oluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat magni dolores.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>