/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
* Version	 :	2.0.0
* Updated	 :	03/08/2022
*/
/*! WRITE YOUR CUSTOM STYLE **/
.bg-theme-grad {
  background-image: linear-gradient(to right, #6DC219 0%, #C26E19 50%, #6e19c2 100%) !important;
}