<section class="section bg-light section-document" id="documents">
    <div class="container">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto">
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">ICOX Tokens</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".2">Our Tokens with a realworld use case created on the blockchain network.</p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-document">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card card-lg animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="nk-block-img px-4 pb-4 pb-md-0">
                                    <img src="images/doc-a.png" alt="doc">
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="nk-block-text">
                                    <h4 class="title title-md">Read the Whitepaper</h4>
                                    <p>Our main goal helps rem aperiam, et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit molestiae illum quim eum.</p>
                                    <ul class="btn-grp gutter-30px gutter-vr-20px">
                                        <li><a href="#" class="btn btn-grad">Download WHite paper</a></li>
                                        <li><a href="#" class="link"><em class="link-icon fas fa-file-alt"></em> <span>Download Two Pager</span></a></li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .box -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>