<section class="section section-problem bg-light" id="problem">
    <div class="container">
        <!-- Section Head @s -->
        <div class="section-head text-center wide-auto-sm">
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Problem and Challenge</h2>
            <p class="animated" data-animate="fadeInUp" data-delay=".2">We are creating modular software, apps blockchain based accusamus et eiusto odio dignimus qui blan ditiis praes entium volup tatun.</p>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-problems tc-light">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6">
                    <div class="feature boxed boxed-lg bg-theme no-mg split-lg-left split-left animated" data-animate="fadeInUp" data-delay=".3">
                        <h4 class="title title-md">Automation Development</h4>
                        <p>The automation development provides rem aperiam, et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit molestiae illum qui dolorem eum.</p>
                        <ul class="list list-dot">
                            <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                            <li>Wende omnis iste natus error sit volupt.</li>
                            <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li>Exercitation ullamco laboris nisi ut consequ.</li>
                        </ul>
                    </div>
                </div><!-- .col -->
                <div class="col-lg-6">
                    <div class="feature-group bg-theme-alt split-right split-lg animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature boxed bg-white-10">
                            <div class="feature-text">
                                <h4 class="title title-md">High transfer fees</h4>
                                <p>Each year over than 200$ bilion fees rem aperiam, et quasi arch itecto beatae vitae dicta sunt explicabo. Voluptas sit aspernatur aut odit aut fugit molestiae illum qui dolorem eum.</p>
                            </div>
                        </div>
                        <div class="feature boxed bg-white-2">
                            <div class="feature-text">
                                <h4 class="title title-md">Scaling and Absolete Tool</h4>
                                <p>Scalling is biggest problem that comes rem aperiam, et quasi arch itecto beatae vitae dicta sunt explicabo. Voluptas sit aspern odit aut fugit illum qui dolorem eum.</p>
                            </div>
                        </div>
                        <div class="feature boxed bg-black-10">
                            <div class="feature-text">
                                <h4 class="title title-md">Secure Networks &amp; Flexibility</h4>
                                <p>Security is most concern for long rem aperiam, et quasi arch itecto beatae vitae aspernatur aut odit aut fugit molestiae illum qui dolorem ullamco laboris nisi volupt natus.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
    </div>
</section>