<section class="section section-wallet bg-white" id="app-download">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-text-wrap">
            <div class="row align-items-center justify-content-center flex-row-reverse">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <div class="nk-block-img bg-pattern-dots-color">
                        <div class="app-slide-wrap animated" data-animate="fadeInUp" data-delay=".1">
                            <div class="app-slide">
                                <img src="images/app-screens/a.jpg" alt="App Screen">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-10 text-center text-lg-start">
                    <div class="nk-block-text">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">Our Powerful <br class="d-none d-md-block"> All-In-One Wallets</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">ICOX Wallets is most secure am libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                        <div class="pdt-m animated" data-animate="fadeInUp" data-delay=".3">
                            <a href="#" class="btn btn-grad">Download Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .block @e -->
    </div>
</section>