<section class="section bg-light section-about" id="about">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-about">
            <div class="row gutter-vr-30px align-items-center pdb-x">
                <div class="col-lg-6">
                    <div class="nk-block-text">
                        <h2 class="title animated" data-animate="fadeInUp" data-delay=".1">About Coin Garden</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2"><strong>Coin Garden is #1 best selling ICO Landing</strong> page, which helps you lunch and introduce your ICO Website. We designed it very carefully to make it more attractive, useful and fit any kind of ICO/Crypto website. </p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Coin Garden sectetur adipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".4">We create cryptocurrency dipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="nk-block-video animated" data-animate="fadeInUp" data-delay=".5">
                        <img src="images/video/a.png" alt="video">
                        <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="nk-block-video-play video-popup btn-play btn-play-light"><em class="fas fa-play"></em></a>
                    </div>
                </div>
            </div>
        </div><!-- .block @e -->
        <!-- Section Head @s -->
        <div class="section-head">
            <h2 class="title title-lg animated" data-animate="fadeInUp" data-delay=".6">Key features of Coin Garden</h2>
        </div><!-- .section-head @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-features mgb-m30">
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature animated" data-animate="fadeInUp" data-delay=".7">
                        <div class="feature-icon dot">
                            <em class="icon ikon ikon-paricle-alt"></em>
                        </div>
                        <div class="feature-text">
                            <h5 class="title title-sm">Create a secure decentralize</h5>
                            <p>Tempore, cum soluta nobis est eligendi optiocum que nihil maxime placeat facere possimus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature animated" data-animate="fadeInUp" data-delay=".8">
                        <div class="feature-icon dot">
                            <em class="icon ikon ikon-donught"></em>
                        </div>
                        <div class="feature-text">
                            <h5 class="title title-sm">Solving small business problems</h5>
                            <p>Placeat facere possimus, omnis voluptas assum enda est, omnis dolor repellendus. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature animated" data-animate="fadeInUp" data-delay=".9">
                        <div class="feature-icon dot">
                            <em class="icon ikon ikon-document"></em>
                        </div>
                        <div class="feature-text">
                            <h5 class="title title-sm">Personal data must be isolated</h5>
                            <p>Nam libero tempore, cum soluta nobis est optio cumque nihil impedit quo minus id quod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .block @s -->
    </div>
</section>