@page "/"
@using CoinGardenWorld.Moralis.Metamask
@using System.Numerics
@inject HttpClient httpClient
@inject IMetaMaskService metamask

<PageTitle>Index</PageTitle>


<p>
    @Message
</p>

@if (HasMetamask)
{
    <p>
        The browser has MetaMask installed
    </p>
}
else
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}

@if (IsSiteConnected)
{
    
    <h2 class="moralis-verified">
        <img alt="Moralis Icon" src="https://moralis.io/wp-content/uploads/2022/05/symbol_for_light_bckg.svg" />
        <span class="moralis-verified-title">Moralis Verified Address! 🤝</span>
    </h2>
    
   @* <h3 class="moralis-jwt-heading">
        JWT:
        <textarea class="moralis-jwt-display"></textarea>
    </h3>*@
}

@code {
    private string Message;
    private bool HasMetamask;
    private bool IsSiteConnected;

    protected override async Task OnInitializedAsync()
    {
        Message = await httpClient.GetFromJsonAsync<string>("api/SayHello");

        HasMetamask = await metamask.HasMetaMask();
        IsSiteConnected = await metamask.IsSiteConnected();
    }

}