@page "/counter"

<PageTitle>Counter</PageTitle>

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content">
            <!-- End of Page Content-->
            <h1>Counter</h1>

            <p role="status">Current count: @currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

        </div>

    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
