@page "/"

<PageTitle>Index</PageTitle>

<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content">
            <h6 class="font-700 mb-n1 color-highlight">Welcome</h6>
            <h1 class="pb-2">Starter</h1>
            <p>
                The starter page is great so you can just add components to it and make your own pages fast and easy!
            </p>
        </div>
    </div>

    <div class="card card-style py-3">
        <div class="content px-2 text-center">
            <h5 class="mb-n1 font-12 color-highlight font-700 text-uppercase">Time to Go Mobile</h5>
            <h2>Get Duo Mobile Today</h2>
            <p class="mb-3">
                Start your next project with Duo and enjoy the power of a Progressive Web App.
            </p>
            <a href="https://1.envato.market/2ryjKA" target="_blank" class="default-link btn btn-m rounded-s gradient-highlight shadow-bg shadow-bg-s px-5 mb-0 mt-2">Get Duo Now</a>
        </div>
    </div>

</div>